.btn-outline-light {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #126fcd;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #bb3291;
    --bs-btn-hover-border-color: #f8f9fa;
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    /* --bs-btn-disabled-border-color: #f8f9fa; */
    --bs-gradient: none;
}